.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}


.logo{
    height: 45px;
   
}

.logo:active{
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo:hover{
    filter: drop-shadow(0 0 2em #646cffaa);
}

nav{
    display: flex;
    gap: 1rem;
}